ENV=local

SERVICE_NAME=auth-service

LOG_LEVEL=debug
LOG_FORMAT=text

HTTP_PORT=8000
HTTP_SECURE_COOKIES=false
GRPC_PORT=9000

JWT_SECRET=supersecret
JWT_ACCESS_TTL_MIN=15
JWT_REFRESH_TTL_HOUR=168

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB_NAME=auth_service
PG_SSLMODE=disable

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
